<div class="row-fluid">
  <div class="span8 project-form">
    <form name="projectData">
      <div class="form-inline">
        <fieldset>
          <legend>About the basics:</legend>
          <input type="number" name="steps-count" id="steps-count" class="input-mini" ng-model="project.stepsCount"/>
          &nbsp;<span ng-pluralize count="project.stepsCount" when="{'0': 'steps','1': 'step', 'other': 'steps'}"></span>&nbsp;to make me
          <input type="text" name="project-title" id="project-title" class="input-xxlarge" placeholder="a sandwich, a hovercraft or a ..." ng-model="project.title" required/>
        </fieldset>

      </div>
      <hr>
      <fieldset>
        <textarea ui-redactor='{minHeight: 150}' ng-model='project.description'></textarea>
      </fieldset>
      <fieldset>
        <legend>About the tools and material:</legend>
        <ul class="unstyled" ng-model="project.ingredients" ui-sortable>
          <stm-ingredient ng-repeat="ingredient in project.ingredients"></stm-ingredient>
        </ul>
        <button class="btn btn-info" ng-click="addIngredient()">Add</button>

      </fieldset>
      <fieldset>
        <legend>Add an image:</legend>
        <div ng-controller="ImageAutoCompleteCtrl" class="ui-widget">
          <input id="image-autocomplete" class="input-large" placeholder="Search for flickr images by tag ..." ng-model="imageSearch.tag" ui-autocomplete="tagAutocompleteOptions"/>
          <ul class="image-results unstyled inline" ng-show="imageResults.length">
            <li class="image-result" ng-repeat="image in imageResults">
              <figure>
                <img src="http://farm{{image.farm}}.staticflickr.com/{{image.server}}/{{image.id}}_{{image.secret}}_q.jpg" alt=""/>
                <figcaption>{{image.title}}</figcaption>
              </figure>
            </li>
          </ul>

        </div>

      </fieldset>
      <div class="form-actions">
        <a href="#/" class="btn">Cancel</a>
        <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Save</button>
        <button ng-click="destroy()" ng-show="project._id" class="btn btn-danger">Delete</button>
      </div>
    </form>
  </div>

  <div class="span4 well project-preview">
    <h1 ng-show="project.title.length"><span class="steps-count" ng-show="project.stepsCount">{{ project.stepsCount }}&nbsp;</span><span ng-pluralize count="project.stepsCount" when="{'0': 'Steps','1': 'step', 'other': 'steps'}"></span>&nbsp;to make me&nbsp;<em class="project-title">{{ project.title }}</em></h1>
    <div class="project-description" ng-bind-html="project.description"></div>

    <table class="table table-striped table-bordered" ng-show="project.ingredients.length">
      <thead>
        <tr>
          <th>#</th>
          <th>measurement</th>
          <th>ingredient</th>
        </tr>
      </thead>
      <tbody>
      <tr class="project-ingredient" ng-repeat="ingredient in project.ingredients">
        <td>{{ingredient.quantity}}</td>
        <td>{{ingredient.measurement}}</td>
        <td>{{ingredient.title}}</td>
      </tr>
      </tbody>

    </table>
  </div>
</div>

