<div class="row-fluid">
  <div class="span9 project-form">
    <form name="projectData">
      <div class="form-inline">
        <fieldset>
          <legend>Tell us the basics:</legend>
          <input type="number" name="steps-count" id="steps-count" class="input-mini" ng-model="stepsCount"/>
          &nbsp;<span ng-pluralize count="stepsCount" when="{'0': 'steps','1': 'step', 'other': 'steps'}"></span>&nbsp;to make me
          <input type="text" name="project-title" id="project-title" class="input-xxlarge" placeholder="a sandwich, a hovercraft or a ..." ng-model="projectTitle" required/>
        </fieldset>

      </div>
      <hr>
      <fieldset>
        <textarea ui-redactor='{minHeight: 150}' ng-model='projectDescription.content'></textarea>
      </fieldset>

    </form>
  </div>

  <div class="span3 well project-preview">
    <h1><span class="steps-count">{{ stepsCount }}</span>&nbsp;<span ng-pluralize count="stepsCount" when="{'0': 'steps','1': 'step', 'other': 'steps'}"></span>&nbsp;to make me&nbsp;<em class="project-title">{{ projectTitle }}</em></h1>
    <div class="project-description" ng-bind-html-unsafe="projectDescription.content"></div>
  </div>
</div>

